RestaurantApp/obj/*
RestaurantApp/bin/*
RestaurantApp/obj/Debug/net7.0-windows/RestaurantApp.assets.cache
RestaurantApp/obj/Debug/net7.0-windows/RestaurantApp.csproj.AssemblyReference.cache
RestaurantApp/obj/Debug/net7.0-windows/RestaurantApp.GeneratedMSBuildEditorConfig.editorconfig
RestaurantApp/obj/project.assets.json
RestaurantApp/obj/project.nuget.cache
RestaurantApp/obj/RestaurantApp.csproj.nuget.dgspec.json
RestaurantApp/obj/RestaurantApp.csproj.nuget.g.props
RestaurantApp/obj/Debug/net7.0-windows/RestaurantApp.assets.cache
RestaurantApp/obj/Debug/net7.0-windows/RestaurantApp.csproj.AssemblyReference.cache
RestaurantApp/obj/Debug/net7.0-windows/RestaurantApp.GeneratedMSBuildEditorConfig.editorconfig
RestaurantApp/obj/project.assets.json
RestaurantApp/obj/project.nuget.cache
RestaurantApp/obj/RestaurantApp.csproj.nuget.dgspec.json
RestaurantApp/obj/RestaurantApp.csproj.nuget.g.props
RestaurantApp/obj/Debug/net7.0-windows/RestaurantApp.assets.cache
RestaurantApp/obj/Debug/net7.0-windows/RestaurantApp.csproj.AssemblyReference.cache
RestaurantApp/obj/Debug/net7.0-windows/RestaurantApp.GeneratedMSBuildEditorConfig.editorconfig
RestaurantApp/obj/project.assets.json
RestaurantApp/obj/project.nuget.cache
RestaurantApp/obj/RestaurantApp.csproj.nuget.dgspec.json
RestaurantApp/obj/RestaurantApp.csproj.nuget.g.props
